<h1>Register</h1>

<%= form_tag "/auth/identity/register", class: 'form-horizontal' do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= label_tag :name, 'Name', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :name, @identity.try(:name) %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :email, 'Email', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :email, @identity.try(:email) %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :password, 'Password', class: 'control-label' %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :password_confirmation, 'Retype Password', class: 'control-label' %>
    <div class="controls">
      <%= password_field_tag :password_confirmation %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag 'Register', class: 'btn btn-primary' %>
  </div>
<% end %>
