 body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

	  .leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
	
<table class="table table-hover">   
  <tbody>  
	<% @posts.each do |post| %>
	  <tr id="<%= post.id %>">
	    <td>
		<%= post.title %>
		<br />
		<%= post.time_left %>
		<br />
		<%= post.username + ", " + post.city_and_state %>
		<% if (post.user_id == @user.id) %>
			<button id="edit_button" class="btn btn-link" type="button">Edit</button>
			<button id="delete_button" post_id="<%= post.id %>" class="btn btn-link" type="button">Delete</button>
		<% end %>
		</td>
	  </tr>
	<% end %> 
     </tbody>  
</table>
	

<script>
	$('.table > tbody > tr').click(function() {
		var x = $(this).attr("id")
	    location.href = "/posts/" + x;
	});
	
	$("#edit_button").click(function() {
		alert("Hi.");
	    location.href = "logout";
	});
	
	$("#delete_button").click(function() {	
		var id = $(this).attr("post_id")
		
		xmlhttp = new XMLHttpRequest(); 
		xmlhttp.open("DELETE", "/posts/" + id, true) 
		xmlhttp.send(null); 
	});
</script>
