 body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

	  .leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
	
<table class="table table-hover">   
  <tbody>  
	<% @posts.each do |post| %>
	  <tr id="<%= post.id %>">
	    <td>
		<%= post.title %>
		<br />
		<%= post.time_left %>
		<br />
		<%= post.username + ", " + post.city_and_state %>
		<% if (@user && (post.user_id == @user.id)) %>
			<button id="delete_button" post_id="<%= post.id %>" class="btn btn-link" type="button">Delete</button>
		<% end %>
		</td>
	  </tr>
	<% end %> 
     </tbody>  
</table>
	

<script>
	$('.table > tbody > tr').click(function() {
		var x = $(this).attr("id")
	    location.href = "/posts/" + x;
	});

	
	$("#delete_button").click(function() {	
		alert( "Data Saved: ");
		var id = $(this).attr("post_id")
		
		$.ajax({
		  type: "DELETE",
		  url: "/posts/" + id + "r"
		}).done(function( msg ) {
		  alert( "Data Saved: " + msg );
		});
	});
</script>
