 body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

	  .leaderboard {
  padding: 60px;
  margin-bottom: 30px;
  background-image: url('/twitter-bootstrap/images/gridbg.gif');
  background-repeat:repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
	
<table class="table table-hover">   
  <tbody>  
	<% @posts.each do |post| %>
	  <tr id="<%= post.id %>">
	    <td>
				<%= post.title %>
				<br />
				<%= post.time_left %>
				<br />
				<%= post.user.username + ", " + post.get_city + ", " + post.get_state %>
				<% if (@user && (post.user_id == @user.id)) %>
					<button id="delete_button" post_id="<%= post.id %>" class="post_delete_button btn btn-link" type="button">Delete</button>
				<% end %>
			</td>
	  </tr>
	<% end %> 
	</tbody>  
</table>
	

<script>
	var fuckoff = false;
	
	$('.table > tbody > tr').click(function() {
		if (fuckoff) return;
		alert("fucking shit");
		var x = $(this).attr("id")
	  location.href = "/posts/" + x;
	});

	
	$(".post_delete_button").click(function() {	
		// alert( "Yo");
		var id = $(this).attr("post_id")
		
		fuckoff = true;
		
		$.ajax({
		  type: "DELETE",
		  url: "/posts/" + id
		}).done(function( msg ) {
		  alert( "Deleted.");
		});
	});
</script>
