<style type="text/css">
	body {
    padding-top: 40px;
    padding-bottom: 0px;
	  padding-left: 0px;
	  padding-right: 0px;
  }
</style>
	
<table class="table table-hover">   
  <tbody>  
	<% @posts.each do |post| %>
	  <tr id="<%= post.id %>">
	    <td>
				<%= post.title %>
				<br />
				<%= post.time_left %>
				<br />
				<%= post.user.username + ", " + post.get_city + ", " + post.get_state %>
				<% if (@user && (post.user_id == @user.id)) %>
					<button post_id="<%= post.id %>" class="post_delete_button" type="button">Delete</button>
				<% end %>
			</td>
	  </tr>
	<% end %> 
	</tbody>  
</table>
	

<script>
	var fuckoff = false;

	<% if flash[:notice] %>
		alert("<%= flash[:notice] %>");
	<% end %>
		
	$('.table > tbody > tr').click(function() {
		alert("2" + this);
		if (fuckoff) {
			fuckoff = false;
			return;
		}
		
		var x = $(this).attr("id")
	  location.href = "/posts/" + x;
	});
	
	$(".post_delete_button").click(function() {	
		alert("1" + this);
		var id = $(this).attr("post_id")
		
		fuckoff = true;
		
		$.ajax({
			type: "DELETE",
			url: "posts/" + id
		})
	});
</script>
