<style type="text/css">
	body {
  	padding-top: 60px;
    padding-bottom: 40px;
		padding-left: 40px;
		padding-right: 40px;
    }
</style>
	
<p>
	<b><%= @post.title %></b>
</p>
	
<p>
  <%= @post.username %> will be here <%= @post.time_left %> longer.
</p>

<p>
  <b>Activity:</b>
  <%= @post.activity %>
</p>

<p>
  <b>Location:</b>
  <%= @post.location %>
</p>

<p>
  <b>Identification:</b>
  <%= @post.identification %>
</p>

<p>
  <b>City/State:</b>
  <%= @post.city_and_state %>
</p>

<%= link_to 'Back', posts_path %>
